* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
.header-nav {
  height: 7rem;
  display: flex;
  justify-content: flex-start;
  padding: 2.2rem 0 2.2rem 1rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
/* .header-nav img {
  width: 8.202rem;
  height: 2.535rem;
} */
.hero-section {
  width: 88%;
  margin: 2rem auto;
}
.hero-section__figure {
  padding: 1rem;
  margin: 0 auto;
  max-width: 72.5rem;
}
.hero-section__figure img{
  width: 100%;
}
.hero-section__title {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 3.96rem;
}
.hero-section__description {
  padding-top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.76rem;
}
.card-container {
  display: flex;
  padding: 2.5rem 1rem;
  overflow-x: auto;
}
.card {
  position: relative;
  min-width: 20rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.32rem;
}
.card__badge {
  position: absolute;
  top: 5px;
  left: 16px;
  padding: .5rem;
  background-color: #FFFFFF;
}
.card img {
  width: 17.6rem;
  height: 23.5rem;
  border-radius: 9px;
  cursor: pointer;
}
.gray {
  color:#918E9B;
}
.card__stats {
  display: flex;
  align-items: center;
  font-weight: 400;
}
.card__stats-item.star {
  width: 1.4rem;
  height: 1.4rem;
  background: url('../public/images/star.png') no-repeat center/88%;
}
.card__stats-item {
  margin-right: 0.2rem;
}
.card__title {
  margin: .5rem 0;
  font-weight: 400;
  color:#222222;
}
.card__price--bold {
  font-weight: 600;
}

@media (min-width: 620px) {
  .hero-section {
    text-align: center;
  }
  .card-container {
    justify-content: center;
  }
}